*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #343434;
}
.app{
    background-color: #8E8B82;
    border-radius: 6px;
}
.card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.loginFormGroup{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.formField{
    height: 24px;
    padding: 2px 4px;
    border-radius: 6px;
    outline: none;
    border: none;
}
.buttonForm{
    border: none;
    outline: none;
    height: 24px;
    padding: 2px 4px;
    font-weight: 600;
    width: 40%;
    margin-top: 10px;
    border-radius: 6px;
}
.formError{
    color: rgb(134, 5, 5);
}